{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{%static "css/style.css"%}" rel="stylesheet">

<div class="panel">

	<div class="panel-heading">
		<a href="{% url "home" %}">Home</a> <span class="chevron">&nbsp;›&nbsp;</span> 最近的主题 &nbsp;
		<span class='pull-right'>话题总数<span class='badge badge-info'>&nbsp;{{ allBbsCount }}&nbsp;</span></span>
	</div>

<div class="panel-body">
									 
		<ul class="media-list" id="topic_list">

			{% for bbs in curPage %}
			<li class="media topic-list">
				<div class="pull-right">
					<span class="badge badge-info topic-comment"><a href="#">{{ bbs.comments_set.all.count}}</a></span>
				</div>
				<a class="media-left" href="#"><img class="img-rounded medium" src="/media/{{bbs.bbs_author.avatar}}" alt="avatar"></a>
				<div class="media-body">
					<h2 class="media-heading topic-list-heading"><a href="{% url "bbs_detail" bbs.id %}">{{ bbs.bbs_title }}</a></h2>
					<p class="text-muted">
						<span><a href="{% url "category" bbs.bbs_category.id %}">{{bbs.bbs_category}}</a></span>&nbsp;•&nbsp;
						<span><a href="{% url "user_profile" bbs.bbs_author.user.id %}">{{bbs.bbs_author}}</a></span>&nbsp;•&nbsp;
						<span>{{bbs.created_at}}</span>&nbsp;•&nbsp;
						<span>最后回复来自 <a href="#"></a></span>
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
</div>


<nav>
	<ul class="pager">
	{%if curPage.has_previous%}
		<li><a href="{% url "recent" curPage.previous_page_number %}"><span>Previous</span></a></li>
	{%endif%}
	<a align="right">{{curPage.number}} / {{pcount}} </a>
	{%if curPage.has_next%}
		<li><a href="{% url "recent" curPage.next_page_number %}">Next</a></li>
	{%endif%}

	</ul>
</nav>

</div>
{% endblock content %}